backend/__pycache__
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/env
backend/pip-log.txt
backend/pip-delete-this-directory.txt
backend/.tox
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/*.log
.git*
backend/.mypy_cache
backend/.pytest_cache
backend/.hypothesis
backend/venv
backend/images
backend/results
backend/uploads
backend/database.db
.devcontainer
*/.vscode
.github
README.md
Tech4City2024Banner.png